{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <title>MockMeUp</title>
    <meta charset="UTF-8" />
    <meta name="description" content="WebUni Education Template" />
    <meta name="keywords" content="webuni, education, creative, html" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href='{% static "img/favicon.ico" %}' rel="shortcut icon" />
    <link
      href="https://fonts.googleapis.com/css?family=Raleway:400,400i,500,500i,600,600i,700,700i,800,800i"
      rel="stylesheet"
    />
    <link rel="stylesheet" href='{% static "css/bootstrap.min.css" %}' />
    <link rel="stylesheet" href='{% static "css/font-awesome.min.css" %}' />
    <link rel="stylesheet" href='{% static "css/owl.carousel.css" %}' />
    <link rel="stylesheet" href='{% static "css/style.css" %}' />
  </head>
  <body>
    <div id="preloder">
      <div class="loader"></div>
    </div>

    <div
      class="page-info-section set-bg"
      data-setbg='{% static "img/page-bg/4.jpg" %}'
      style="height: 20vh"
    >
      <div class="container">
        <div
          class="site-breadcrumb"
          style="position: absolute; top: 2vh; left: 10vh"
        >
          <span>Participant Registration</span>
        </div>
      </div>
    </div>

    <section class="contact-page spad" style="margin: 10vh 25vw">
      <div class="container">
        <div class="row">
          <div class="contact-form-warp">
            <div class="section-title text-white text-left">
              <h4>Register yourself before participating in any mock test.</h4>
              <p>"We don't share any kind of personal info anywhere."</p>
            </div>
            <form
              role="form"
              action="/save_participant"
              method="post"
              class="contact-form"
            >
              {% csrf_token %}
              <div class="card-body">
                <div class="form-group">
                  <label>Email address</label>
                  <input
                    type="email"
                    class="form-control"
                    name="email"
                    placeholder="Email"
                    id="id_email"
                  />
                </div>
                <div class="form-group">
                  <label>Password</label>
                  <input
                    type="password"
                    class="form-control"
                    placeholder="Password"
                    name="password"
                  />
                </div>
                <div class="form-group">
                  <label>First Name</label>
                  <input
                    type="text"
                    class="form-control"
                    placeholder="First Name"
                    name="first_name"
                  />
                </div>
                <div class="form-group">
                  <label>Last Name</label>
                  <input
                    type="text"
                    class="form-control"
                    placeholder="Last Name"
                    name="last_name"
                  />
                </div>
                <div class="form-group">
                  <label>Username</label>
                  <input
                    type="text"
                    class="form-control"
                    placeholder="Username"
                    name="username"
                  />
                </div>
                <div class="form-group">
                  <label>Address</label>
                  <input
                    type="text"
                    class="form-control"
                    placeholder="Address"
                    name="address"
                  />
                </div>

                <div class="form-group">
                  <label>Gender</label>
                  <select class="form-control" name="gender">
                    <option>Male</option>
                    <option>Female</option>
                    <option>Other</option>
                  </select>
                </div>

                <div class="form-group">
                  <label>Competition Type</label>
                  <select class="form-control" name="competition">
                    {% for comp in competition %}
                    <option value="{{ comp.id }}">
                      {{ comp.competition_name }}
                    </option>
                    {% endfor %}
                  </select>
                </div>

                <div class="form-group">
                  {% if messages %} 
                  {% for message in messages %} 
                  {% if message.tags == 'error' %}
                  <div class="alert alert-danger" style="margin-top: 10px">
                    {{ message }}
                  </div>
                  {% endif %} 
                  {% if message.tags == 'success' %}
                  <div class="alert alert-success" style="margin-top: 10px">
                    {{ message }}
                  </div>
                  {% endif %} 
                  {% endfor %} 
                  {% endif %}
                </div>
              </div>

              <button type="submit" class="btn btn-primary">Register</button>
            </form>
          </div>
        </div>
      </div>
    </section>

    <script src='{% static "js/jquery-3.2.1.min.js" %}'></script>
    <script src='{% static "js/bootstrap.min.js" %}'></script>
    <script src='{% static "js/mixitup.min.js" %}'></script>
    <script src='{% static "js/circle-progress.min.js" %}'></script>
    <script src='{% static "js/owl.carousel.min.js" %}'></script>
    <script src='{% static "js/main.js" %}'></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCWTIlluowDL-X4HbYQt3aDw_oi2JP0Krc&sensor=false"></script>
    <script src='{% static "js/map.js" %}'></script>
  </body>
</html>
